<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/easing/EasePack.min.js"></script>


<div class="image-container">
  <% if @workart.image_url.present? && @workart.image_url.match?(/\Ahttps?:\/\/[\S]+\.(jpg|jpeg|png|gif)\z/i) %>
    <%= image_tag @workart.image_url, class: "workart-image" %>
  <% end %>
  <div class="gif-overlay">
    <img id="openModal" src="<%= asset_path('post-letter.gif') %>" alt="Ouvrir la modale">
  </div>
</div>

<div data-controller="panel-manager">

  <div class="panel-manager">

    <div data-panel-manager-target="short">
      <div class="container-below-image">
        <div class="reading-time" id="reading-time">
        <i class="fa-solid fa-book-open"></i>
          <%= "#{( @workart.description_short.split(' ').size / 200.0 * 60 ).round} secondes de lecture" %>
        </div>
        <div class="icon-like-container">
          <div class="icon-map">
            <%= link_to workarts_path(workart_id: @workart.id) do %>
              <i class="fa-solid fa-map-location-dot"></i>
            <% end %>
          </div>
          <div class= "like-button">
            <% if @user_workart %>
              <%= link_to user_workart_path(@user_workart), class: "like-button", data: { turbo_method: :delete } do  %>
                <i class="fa-solid fa-heart"></i>
              <% end %>
            <% else %>
              <%= link_to workart_user_workarts_path(@workart), class: "like-button", data: { turbo_method: :post } do %>
                <i class="fa-regular fa-heart"></i>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>

      <div class="workart-details">
        <h1 class="title"><%= @workart.workart_title %></h1>
        <p class="description" id="description"><%= @workart.description_short %></p>
      </div>
    </div>

    <div data-panel-manager-target="middle" class="d-none">
      <div class="container-below-image">
        <div class="reading-time" id="reading-time">
        <i class="fa-solid fa-book-open"></i>
          <%= "#{( @workart.description_middle.split(' ').size / 200.0 * 60 ).round} secondes de lecture" %>
        </div>
        <div class="icon-like-container">
          <div class="icon-map">
            <%= link_to workarts_path(@workart) do %>
              <i class="fa-solid fa-map-location-dot"></i>
            <% end %>
          </div>
          <div class= "like-button">
            <% if @user_workart %>
              <%= link_to user_workart_path(@user_workart), class: "like-button", data: { turbo_method: :delete } do  %>
                <i class="fa-solid fa-heart"></i>
              <% end %>
            <% else %>
              <%= link_to workart_user_workarts_path(@workart), class: "like-button", data: { turbo_method: :post } do %>
                <i class="fa-regular fa-heart"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="workart-details">
        <h1 class="title"><%= @workart.workart_title %></h1>
        <p class="description" id="description"><%= @workart.description_middle %></p>
      </div>
    </div>

    <div data-panel-manager-target="long" class="d-none">
      <div class="container-below-image">
        <div class="reading-time" id="reading-time">
        <i class="fa-solid fa-book-open"></i>
          <%= "#{( @workart.description_long.split(' ').size / 200.0 * 60 ).round} secondes de lecture" %>
        </div>
        <div class="icon-like-container">
          <div class="icon-map">
            <%= link_to workarts_path(@workart) do %>
              <i class="fa-solid fa-map-location-dot"></i>
            <% end %>
          </div>
          <div class= "like-button">
            <% if @user_workart %>
              <%= link_to user_workart_path(@user_workart), class: "like-button", data: { turbo_method: :delete } do  %>
                <i class="fa-solid fa-heart"></i>
              <% end %>
            <% else %>
              <%= link_to workart_user_workarts_path(@workart), class: "like-button", data: { turbo_method: :post } do %>
                <i class="fa-regular fa-heart"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="workart-details">
        <h1 class="title"><%= @workart.workart_title %></h1>
        <p class="description" id="description"><%= @workart.description_long %></p>
      </div>
    </div>

  <div class="audio-players" >
      <% if @audio_paths[:short].present? %>
        <div data-panel-manager-target="shortContainer">
          <%= render partial: 'audio_player', locals: {
            player_id: 'short',
            custom_class: 'short',
            audio_target: 'audioShort',
            audio_source: Rails.env.local? ? asset_path(@audio_paths[:short]) : @audio_paths[:short]
          } %>
        </div>
      <% end %>

      <% if @audio_paths[:middle].present? %>
        <div data-panel-manager-target="middleContainer" class="d-none">
          <%= render partial: 'audio_player', locals: {
            player_id: 'middle',
            custom_class: 'middle',
            audio_target: 'audioMiddle',
            audio_source: Rails.env.local? ? asset_path(@audio_paths[:middle]) : @audio_paths[:middle]
          } %>
        </div>
      <% end %>

      <% if @audio_paths[:long].present? %>
        <div data-panel-manager-target="longContainer" class="d-none" >
          <%= render partial: 'audio_player', locals: {
            player_id: 'long',
            custom_class: 'long',
            audio_target: 'audioLong',
            audio_source: Rails.env.local? ? asset_path(@audio_paths[:long]) : @audio_paths[:long]
          } %>
          </div>
      <% end %>
    </div>


    <div class="button-menu">
      <div class="btn-group shadow-sm rounded-pill" role="group" aria-label="Basic radio toggle button group">

        <div>
          <input type="radio" class="btn-check active" name="btnradio" data-panel-manager-target="button" data-action="click->panel-manager#showShort" data-type="short" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-secondary rounded-start-pill" for="btnradio1"><i class="fa-solid fa-clock"></i> Short</label>
        </div>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" data-panel-manager-target="button" data-action="click->panel-manager#showMiddle" data-type="casual">
        <label class="btn btn-outline-secondary" for="btnradio2"><i class="fa-solid fa-file"></i> Casual</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" data-panel-manager-target="button" data-action="click->panel-manager#showLong" data-type="storytelled">
        <label class="btn btn-outline-secondary rounded-end-pill" for="btnradio3"><i class="fa-solid fa-book"></i> Storytelled</label>
      </div>
    </div>

  </div>

</div>


<div id="emailModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>

    <h3>Futur moi, <br>souviens-toi de ça !</h3>

  <div class="postcard-container">
  <div class="postcard">
    <div class="postcard-left">
                <% if @workart.image_url.present? && @workart.image_url.match?(/\Ahttps?:\/\/[\S]+\.(jpg|jpeg|png|gif)\z/i) %>
            <%= image_tag @workart.image_url, class: "postcard-image" %>
          <% end %>
      <div class="stamp">
        <%= image_tag "stamp.png", class: "stamp-image" %>
      </div>
    </div>
    <div class="postcard-right">
      <h3 class="postcard-title"><%= @workart.workart_title %></h3>
      <p class="postcard-artist">par <%= @workart.primary_artist %></p>
      <p class="postcard-location"><%= @workart.address %></p>
      <div class="postcard-footer">
        <p class="postcard-date"><%= Date.current.strftime("%d %B %Y") %></p>
        <% if current_user %>
        <p class="postcard-recipient">Destinataire : <b><%= current_user.pseudo %></b></p>
        <% end %>
      </div>
    </div>
  </div>
</div>


    <%= form_with url: schedule_email_workart_path(@workart), method: :post do |f| %>
      <div class="field">
        <%= f.label :recipient, "Mon mail :" %>
        <%= f.email_field :recipient, required: true %>
      </div>

      <div class="field">
        <%= f.label :content, "Message :" %>
        <%= f.text_area :content, rows: 5, required: true, placeholder: "Ai-je aimé l'oeuvre ? Avec qui l'ai-je visité ?" %>
      </div>

      <div class="field">
        <%= f.label :time_option, "Envoyer dans :" %>
        <div class="time-options">
          <% future_options = {
            "6 mois" => 6.months.from_now,
            "1 an" => 1.year.from_now,
            "2 ans" => 2.years.from_now,
            "5 ans" => 5.years.from_now,
            "10 ans" => 10.years.from_now
          } %>

          <% future_options.each do |label, date| %>
            <div class="time-option">
              <%= f.radio_button :send_at, date.to_date, id: "option_#{label.parameterize}", required: true %>
              <%= f.label :send_at, label, value: date.to_date, for: "option_#{label.parameterize}" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Programmer l'email" %>
      </div>
    <% end %>
  </div>
</div>



<script>
  document.addEventListener("DOMContentLoaded", function () {
    const modal = document.getElementById("emailModal");
    const openBtn = document.getElementById("openModal");
    const closeBtn = document.querySelector(".close");
    const emailForm = document.querySelector("#emailModal form");

    openBtn.addEventListener("click", () => {
      modal.style.display = "block";
    });

    closeBtn.addEventListener("click", () => {
      modal.style.display = "none";
    });

    window.addEventListener("click", (event) => {
      if (event.target === modal) {
        modal.style.display = "none";
      }
    });


    emailForm.addEventListener("submit", function(event) {
      event.preventDefault();

      const formData = new FormData(emailForm);


      fetch(emailForm.action, {
        method: 'POST',
        body: formData,
        headers: {
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'same-origin'
      })
      .then(response => {

        showConfirmationMessage();
      })
      .catch(error => {

        console.log("Erreur d'envoi:", error);
        showConfirmationMessage();
      });
    });


    function showConfirmationMessage() {

      const formContent = emailForm.parentElement;


      const confirmationDiv = document.createElement("div");
      confirmationDiv.className = "email-confirmation";
      confirmationDiv.innerHTML = `
        <div class="confirmation-icon">✓</div>
        <h3>Mail programmé !</h3>
        <p>Votre message vous sera envoyé à la date choisie.</p>
        <button id="back-to-workart" class="btn-back">Retour à l'œuvre</button>
      `;

      formContent.innerHTML = '';
      formContent.appendChild(confirmationDiv);

      document.getElementById("back-to-workart").addEventListener("click", function() {
        modal.style.display = "none";

        setTimeout(() => {
          location.reload();
        }, 100);
      });
    }
  });

</script>
