<!-- Chargement des bibliothèques externes (à placer idéalement dans le layout ou un pack JS si possible) -->
<div data-controller="uglyjs">
  <div>
    <%= image_tag "artreveal_logo_grey_version.svg",
      alt: "logo ArtReveal",
      class: "logo-show" %>
  </div>

  <div class="image-container">
    <% if @workart.image_url.present? && @workart.image_url.match?(/\Ahttps?:\/\/[\S]+\.(jpg|jpeg|png|gif)\z/i) %>
      <% cache @workart do %>
        <%= image_tag @workart.image_url, class: "workart-image" %>
      <% end %>
    <% end %>
  </div>

  <div class="sliding-panel" id="slidingPanel" data-uglyjs-target="panel">

    <div class="panel-content">
      <div class="panel-handle" id="panelHandle" data-action="click->uglyjs#togglePanel">
        <div class="panel-title panel-title-content">
          <%= render "workart_title" %>
        </div>
      </div>
      <!-- PARTIAL : Titre de l'oeuvre -->

      <!-- Contrôleur Stimulus panel-manager -->
      <div data-controller="panel-manager" class="panel-manager">
        <!-- NOUVEAU bloc de boutons (Short / Casual / Storytelled) 
            placé entre le titre et la lecture pour le design voulu -->
        <div class="tag-buttons-group" role="group" aria-label="Type de description">
          <div>
            <input type="radio"
                  class="btn-check"
                  name="btnradio"
                  data-panel-manager-target="button"
                  data-action="click->panel-manager#showShort"
                  data-type="short"
                  id="btnradio1"
                  autocomplete="off"
                  checked>
            <label class="tag-button" for="btnradio1">
              Short
            </label>
          </div>

          <div>
            <input type="radio"
                  class="btn-check"
                  name="btnradio"
                  id="btnradio2"
                  autocomplete="off"
                  data-panel-manager-target="button"
                  data-action="click->panel-manager#showMiddle"
                  data-type="casual">
            <label class="tag-button" for="btnradio2">
              Casual
            </label>
          </div>

          <div>
            <input type="radio"
                  class="btn-check"
                  name="btnradio"
                  id="btnradio3"
                  autocomplete="off"
                  data-panel-manager-target="button"
                  data-action="click->panel-manager#showLong"
                  data-type="storytelled">
            <label class="tag-button" for="btnradio3">
              Storytelled
            </label>
          </div>
        </div>
        <!-- Fin du nouveau bloc de boutons -->

        <!-- Contenu "Short" -->
        <div data-panel-manager-target="short">
          <div class="workart-details">
            <div class="reading-time" id="reading-time">
              <br>
              <i class="fa-solid fa-clock"></i>
              <%= "#{( @workart.description_short.split(' ').size / 200.0 * 60 ).round} seconds of reading" %>
            </div>
            <br>
            <p class="description" id="description"><%= @workart.description_short %></p>
            <br><br>
            <p class="description"><%= @workart.address %></p>
          </div>

          <div class="container-below-image">
            <div class="icon-like-container">
              <div class="icon-map">
                <%= link_to workarts_path(workart_id: @workart.id) do %>
                  <i class="fa-solid fa-map-location-dot"></i>
                <% end %>
              </div>
              <div class="icon-map">
                <i alt="Ouvrir la modale" class="fa-solid fa-envelope" data-action="click->uglyjs#toggleEmailModal"></i>
              </div>
              <div data-controller="like"
                  data-action="click->like#toggleLike"
                  data-like-liked-value="<%= @user_workart.present? %>"
                  data-like-workart-id-value="<%= @workart.id %>"
                  data-like-user-workart-id-value="<%= @user_workart&.id || 0 %>"
                  class="like-button">
                <% if @user_workart.present? %>
                  <i class="fa-solid fa-heart"></i>
                <% else %>
                  <i class="fa-regular fa-heart"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- Contenu "Middle" -->
        <div data-panel-manager-target="middle" class="d-none">
          <div class="workart-details">
            <div class="reading-time" id="reading-time">
              <br>
              <i class="fa-solid fa-clock"></i>
              <%= "#{( @workart.description_middle.split(' ').size / 200.0 * 60 ).round} seconds of reading" %>
            </div>
            <br>
            <p class="description" id="description"><%= @workart.description_middle %></p>
            <br><br>
            <p class="description"><%= @workart.address %></p>
          </div>

          <div class="container-below-image">
            <div class="icon-like-container">
              <div class="icon-map">
                <%= link_to workarts_path(@workart) do %>
                  <i class="fa-solid fa-map-location-dot"></i>
                <% end %>
              </div>
              <div class="icon-map">
                <i id="togglePanel2" alt="Ouvrir la modale" class="fa-solid fa-envelope" data-action="click->uglyjs#toggleEmailModal"></i>
              </div>
              <div data-controller="like"
                  data-action="click->like#toggleLike"
                  data-like-liked-value="<%= @user_workart.present? %>"
                  data-like-workart-id-value="<%= @workart.id %>"
                  data-like-user-workart-id-value="<%= @user_workart&.id || 0 %>"
                  class="like-button">
                <% if @user_workart.present? %>
                  <i class="fa-solid fa-heart"></i>
                <% else %>
                  <i class="fa-regular fa-heart"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- Contenu "Long" -->
        <div data-panel-manager-target="long" class="d-none">
          <div class="workart-details">
            <div class="reading-time" id="reading-time">
              <br>
              <i class="fa-solid fa-clock"></i>
              <%= "#{( @workart.description_long.split(' ').size / 200.0 * 60 ).round} seconds of reading" %>
            </div>
            <br>
            <p class="description" id="description"><%= @workart.description_long %></p>
            <br><br>
            <p class="description"><%= @workart.address %></p>
          </div>

          <div class="container-below-image">
            <div class="icon-like-container">
              <div class="icon-map">
                <%= link_to workarts_path(@workart) do %>
                  <i class="fa-solid fa-map-location-dot"></i>
                <% end %>
              </div>
              <div class="icon-map">
                <i id="togglePanel3" alt="Ouvrir la modale" class="fa-solid fa-envelope" data-action="click->uglyjs#toggleEmailModal"></i>
              </div>
              <div data-controller="like"
                  data-action="click->like#toggleLike"
                  data-like-liked-value="<%= @user_workart.present? %>"
                  data-like-workart-id-value="<%= @workart.id %>"
                  data-like-user-workart-id-value="<%= @user_workart&.id || 0 %>"
                  class="like-button">
                <% if @user_workart.present? %>
                  <i class="fa-solid fa-heart"></i>
                <% else %>
                  <i class="fa-regular fa-heart"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      <!-- Lecteurs audio (Short / Middle / Long) -->
        <div class="audio-players">
          <% if @audio_paths[:short].present? %>
            <div data-panel-manager-target="shortContainer">
              <%= render partial: 'audio_player', locals: {
                player_id: 'short',
                custom_class: 'short',
                audio_target: 'audioShort',
                audio_source: Rails.env.local? ? asset_path(@audio_paths[:short]) : @audio_paths[:short]
              } %>
            </div>
          <% end %>

          <% if @audio_paths[:middle].present? %>
            <div data-panel-manager-target="middleContainer" class="d-none">
              <%= render partial: 'audio_player', locals: {
                player_id: 'middle',
                custom_class: 'middle',
                audio_target: 'audioMiddle',
                audio_source: Rails.env.local? ? asset_path(@audio_paths[:middle]) : @audio_paths[:middle]
              } %>
            </div>
          <% end %>

          <% if @audio_paths[:long].present? %>
            <div data-panel-manager-target="longContainer" class="d-none">
              <%= render partial: 'audio_player', locals: {
                player_id: 'long',
                custom_class: 'long',
                audio_target: 'audioLong',
                audio_source: Rails.env.local? ? asset_path(@audio_paths[:long]) : @audio_paths[:long]
              } %>
            </div>
          <% end %>
        </div>

      </div><!-- Fin du panel-manager -->
    </div><!-- Fin panel-content -->
  </div><!-- Fin sliding-panel -->


  <%= render 'workarts/email_modal' %>

  <!-- Arrière-plan animé (balles) -->
  <div class="ball-container">
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
  </div>
</div>