<div class="image-container">
  <%= image_tag @workart.image_url, class: "workart-image" %>
</div>


<div data-controller="panel-manager" class="panel-manager">

  <div data-panel-manager-target="panel">
    <div class="container-below-image">
      <div class="reading-time" id="reading-time">
        <%= "#{( @workart.description_short.split(' ').size / 200.0 * 60 ).round} secondes de lecture" %>
      </div>
      <div class="icon-like-container">
        <div class="icon-map">
          <%= link_to workarts_path(@workart) do %>
            <i class="fa-solid fa-map-location-dot"></i>
          <% end %>
        </div>
        <div class= "like-button">
          <% if @user_workart %>
            <%= link_to user_workart_path(@user_workart), class: "like-button", data: { turbo_method: :delete } do  %>
              <i class="fa-solid fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to workart_user_workarts_path(@workart), class: "like-button", data: { turbo_method: :post } do %>
              <i class="fa-regular fa-heart"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="workart-details">
      <h1 class="title"><%= @workart.workart_title %></h1>
      <p class="description" id="description"><%= @workart.description_short %></p>
    </div>
  </div>

  <div data-panel-manager-target="panel" class="d-none">
    <div class="container-below-image">
      <div class="reading-time" id="reading-time">
        <%= "#{( @workart.description_middle.split(' ').size / 200.0 * 60 ).round} secondes de lecture" %>
      </div>
      <div class="icon-like-container">
        <div class="icon-map">
          <%= link_to workarts_path(@workart) do %>
            <i class="fa-solid fa-map-location-dot"></i>
          <% end %>
        </div>
        <div class= "like-button">
          <% if @user_workart %>
            <%= link_to user_workart_path(@user_workart), class: "like-button", data: { turbo_method: :delete } do  %>
              <i class="fa-solid fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to workart_user_workarts_path(@workart), class: "like-button", data: { turbo_method: :post } do %>
              <i class="fa-regular fa-heart"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="workart-details">
      <h1 class="title"><%= @workart.workart_title %></h1>
      <p class="description" id="description"><%= @workart.description_middle %></p>
    </div>
  </div>

  <div data-panel-manager-target="panel" class="d-none">
    <div class="container-below-image">
      <div class="reading-time" id="reading-time">
        <%= "#{( @workart.description_long.split(' ').size / 200.0 * 60 ).round} secondes de lecture" %>
      </div>
      <div class="icon-like-container">
        <div class="icon-map">
          <%= link_to workarts_path(@workart) do %>
            <i class="fa-solid fa-map-location-dot"></i>
          <% end %>
        </div>
        <div class= "like-button">
          <% if @user_workart %>
            <%= link_to user_workart_path(@user_workart), class: "like-button", data: { turbo_method: :delete } do  %>
              <i class="fa-solid fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to workart_user_workarts_path(@workart), class: "like-button", data: { turbo_method: :post } do %>
              <i class="fa-regular fa-heart"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="workart-details">
      <h1 class="title"><%= @workart.workart_title %></h1>
      <p class="description" id="description"><%= @workart.description_long %></p>
    </div>
  </div>

  <div class="button-menu">
    <button class="btn active" data-panel-manager-target="button" data-action="click->panel-manager#showShort" data-type="short">Short</button>
    <button class="btn" data-panel-manager-target="button" data-action="click->panel-manager#showMiddle" data-type="casual">Casual</button>
    <button class="btn" data-panel-manager-target="button" data-action="click->panel-manager#showLong" data-type="storytelled">Storytelled</button>
  </div>

</div>
